{% extends 'base.html.twig' %}

{% block title %}Mon panier - Marché du Web{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/panier/index.style.css') }}">
{% endblock %}

{% block body %}
    <div id="loader"></div>

    {% if editions is not empty %}
        <div class="alert alert-info flash-custom">
            Le stock est insuffisant pour certains articles de votre panier.<br>
            Les quantités pour ces articles ont été modifiées.
        </div>
    {% endif %}

    {% if suppressions is not empty %}
        <div class="alert alert-warning flash-custom">
            Les produits suivants ne sont plus disponibles et ont étés retirés de votre panier :<br>
            {% for nom_produit in suppressions %}
                {{ nom_produit }}
                {% if not loop.last %},&nbsp;{% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid" id="containeur-principal">
        <h1>Mon panier</h1><hr>
        {% if panier.getProduits()|length > 0 %}
            <div id="affichage-sm">
                {% for panier_produit in panier.getProduits() %}
                    {% set produit = panier_produit.getProduit() %}
                    {% if loop.index is divisible by(2) %}
                        {% set fond = "fond-gris" %}
                    {% else %}
                        {% set fond = "" %}
                    {% endif %}
                    <div class="row" id="rang_reduit_{{ produit.id }}">
                        <div class="col-12 case-centree {{ fond }}">
                            <span class="span-poubelle-reduite">
                                <i class="fas fa-trash-alt poubelle-reduite" data-id="{{ produit.id }}" data-quantite="{{ panier_produit.getQuantite() }}"></i>
                            </span>
                        </div>

                        <div class="col-12 case-reduite {{ fond }}">
                            <span>Produit:</span>
                            <span class="span-nom">
                                <a href="{{ path('vue_produit', {'nom_produit': produit.nom()}) }}" class="lien-article">
                                    {{ produit.getNom() }}</a>
                            </span>
                        </div>

                        <div class="col-12 case-reduite {{ fond }}">
                            <span>Prix:</span>
                            <span>
                                {% set tarifs = produit.getTarifsAffiches() %}
                                {% set prix = tarifs['tarif']|round %}
                                {% if tarifs['tarif_promo'] is not same as null %}
                                    {% set prix = tarifs['tarif_promo']|round %}
                                {% endif %}
                                &euro;{{ (prix/100)|number_format(2, ',', ' ') }}
                            </span>
                        </div>

                        {% set quantite_panier = app.session.get('quantites_session') %}
                        {% if quantite_panier[produit.id] is defined %}
                            {% set quantite_panier = quantite_panier[produit.id] %}
                        {% else %}
                            {% set quantite_panier = 0 %}
                        {% endif %}

                        <div class="col-12 case-reduite {{ fond }}">
                            <span>Quantité:</span>
                            <span class="span-quantite">
                                <input class="form-control quantite-reduite" id="quantite_reduite_{{ produit.id }}" data-cible="#quantite_article_{{ produit.id }}" type="number" step="1" min="1"

                                {% if produit.getCommandableSansStock() %}
                                    max="{{quantite_max_commande}}"
                                {% else %}
                                    max="{{ produit.getQuantiteStock() }}"
                                {% endif %}

                                value="{{ quantite_panier }}"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            </span>
                        </div>

                        <div class="col-12 case-reduite {{ fond }}">
                            <span>Sous-total:</span>
                            <span>
                                <span id="prix_total_article_reduit_{{ produit.id }}">
                                    &euro;{{ (prix/100 * panier_produit.getQuantite())|number_format(2, ',', ' ') }}
                                </span>
                            </span>
                        </div>
                    </div>

                    {% if produit.getCommandableSansStock() and quantite_panier > produit.getQuantiteStock() %}
                        <div class="row message-quantite stock_{{ produit.id }}">
                            <div class="col-12">
                                {{ produit.getQuantiteStock() }} sont disponibles en stock<br>
                                {{ quantite_panier - produit.getQuantiteStock() }} seront livrés ultérieurement
                            </div>
                        </div>
                    {% elseif editions[produit.id] is defined %}
                        <div class="row message-quantite">
                            <div class="col-12">
                                quantité editée
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div id="affichage-md">
                <div class="row entete-tableau">
                    <div class="col-md-4 offset-md-2 col-4 offset-1">Produit</div>
                    <div class="col-2">Prix</div>
                    <div class="col-md-2 col-3">Quantité</div>
                    <div class="col-2">Sous-total</div>
                </div>

                {% for panier_produit in panier.getProduits() %}
                    {% set produit = panier_produit.getProduit() %}
                    <div class="row" id="ligne_article_{{ produit.id }}">
                        <div class="col-1 case-article">
                            <span class="span-poubelle">
                                <i class="fas fa-trash-alt poubelle" id="poubelle_{{ produit.id }}" data-id="{{ produit.id }}" data-quantite="{{ panier_produit.getQuantite() }}"></i>
                            </span>
                        </div>

                        <div class="col-1 case-article image">
                            {% set images = produit.getImages() %}
                            <img src="{{ asset('images/produits/') ~ images[0].getImage() }}" class="card-img-top image-produit" alt="image " ~ produit.getNom()>
                        </div>

                        <div class="col-4 case-article">
                            <a href="{{ path('vue_produit', {'nom_produit': produit.nom()}) }}" class="lien-article">
                                {{ produit.getNom() }}</a>
                        </div>

                        <div class="col-2 case-article" id="prix_unitaire_{{ produit.id }}">
                            {% set tarifs = produit.getTarifsAffiches() %}
                            {% set prix = tarifs['tarif']|round %}
                            {% if tarifs['tarif_promo'] is not same as null %}
                                {% set prix = tarifs['tarif_promo']|round %}
                            {% endif %}

                            &euro;{{ (prix/100)|number_format(2, ',', ' ') }}
                        </div>
                        
                        {% set quantite_panier = app.session.get('quantites_session') %}
                        {% if quantite_panier[produit.id] is defined %}
                            {% set quantite_panier = quantite_panier[produit.id] %}
                        {% else %}
                            {% set quantite_panier = 0 %}
                        {% endif %}

                        <div class="col-md-2 col-3 case-article">
                            <input class="form-control quantite" id="quantite_article_{{ produit.id }}" type="number" step="1" min="1"
                            {% if produit.getCommandableSansStock() %}
                                max="{{quantite_max_commande}}"
                            {% else %}
                                max="{{ produit.getQuantiteStock() }}"
                            {% endif %}

                            value="{{ quantite_panier }}"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                        </div>

                        <div class="col-2 case-article total">
                            <span id="prix_total_article_{{ produit.id }}">
                                &euro;{{ (prix/100 * panier_produit.getQuantite())|number_format(2, ',', ' ') }}
                            </span>
                        </div>
                    </div>
                    
                    {% if produit.getCommandableSansStock() and quantite_panier > produit.getQuantiteStock() %}
                        <div class="row message-quantite stock_{{ produit.id }}">
                            <div class="col-12">
                                {{ produit.getQuantiteStock() }} sont disponibles en stock<br>
                                {{ quantite_panier - produit.getQuantiteStock() }} seront livrés ultérieurement
                            </div>
                        </div>
                    {% elseif editions[produit.id] is defined %}
                        <div class="row message-quantite">
                            <div class="col-12">
                                quantité editée
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                {% endfor %}
            </div>

            {% if secu_promo['erreur'] is same as 'nocode'%}
                <div class="row d-none" id='ligne-promo'>
            {% else %}
                <div class="row" id='ligne-promo'>
            {% endif %}

                <div class="col-2">
                    <button class="btn" id="bouton-reset-promo">Annuler le code promo</button>
                </div>

                <div class="col-8" id='description-promo'>
                    {% if secu_promo['erreur'] is not same as "" %}
                        {{ secu_promo['erreur'] }}
                    {% else %}
                        {{ secu_promo['description'] }}
                    {% endif %}
                </div>

                <div class="col-2" id="valeur-promo">
                    {% if secu_promo['reduction'] is not same as "" %}
                        -&nbsp;&euro;{{ (secu_promo['reduction']/100)|number_format(2, ',', ' ') }}
                    {% endif %}
                </div>
            </div>

            <div class="row" id="rang-code-promo">
                <div class="col-md-3 col-6">
                    <input type="text" class="form-control" id="input-code-promo" placeholder="Code promo" value="{{ secu_promo['code'] }}">  
                </div>

                <div class="col-md-4 col-6 p-md-0 p-auto">
                    <button type="button" class="btn" id="bouton-code-promo">APPLIQUER LE CODE PROMO</button>
                </div>
            </div><hr>

            <div class="row">
                <div class="col-12">
                    <button class="btn" id="bouton-vide-panier">VIDER LE PANIER</button>
                </div>
            </div>

            <div class="row" id="rang-sous-total">
                <div class="col-md-6 offset-md-6 col-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2" class="entete-tableau">Total panier</td>
                            </tr>

                            <tr>
                                <td>Sous total HT</td>
                                <td>&euro;<span id="prix_ht">{{ (panier.getMontantHt()/100)|number_format(2, ',', ' ')  }}</span></td>
                           </tr>

                            <tr>
                                <td>Expédition</td>
                                <td>Livraison gratuite</td>
                            </tr>

                            <tr>
                                <td>TVA</td>
                                <td>&euro;<span id="prix_tva">{{ (panier.getMontantTtc()/100 - panier.getMontantHt()/100)|number_format(2, ',', ' ')  }}</span></td>
                            </tr>

                            {% if secu_promo['reduction'] is same as "" %}
                                <tr class="d-none" id="tr-total-promo">
                                <td>Code promo</td>
                                <td id="td-total-promo"></td>
                            {% else %}
                                <tr id="tr-total-promo">
                                <td>Code promo</td>
                                <td id="td-total-promo">
                                    -&nbsp;&euro;{{ (secu_promo['reduction']/100)|number_format(2, ',', ' ') }}
                                </td>
                            {% endif %}                              
                            </tr>

                            <tr>
                                <td>Sous total TTC</td>
                                {% if secu_promo['reduction'] is same as "" %}
                                    <td>&euro;
                                        <span id="prix_ttc">
                                            {{ (panier.getMontantTtc()/100)|number_format(2, ',', ' ')  }}
                                        </span></td>
                                {% else %}
                                    <td>&euro;
                                        <span id="prix_ttc">
                                            {{ ((panier.getMontantTtc() - secu_promo['reduction'])/100)|number_format(2, ',', ' ') }}
                                        </span>
                                    </td>
                                {% endif %}
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <a href="{{ path('panier_paiement') }}" id="bouton-valide-commande" class="btn">VALIDER LA COMMANDE</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        {% else %}
            <div class="row" id="ligne-panier-vide">
                <div class="col-12" id="case-panier-vide">
                    Votre panier est actuellement vide.
                </div>
            </div>
            <a href="{{ path('categories') }}" class="btn" id="bouton-retour-boutique">RETOUR A LA BOUTIQUE</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/panier/index.script.js') }}"></script>
{% endblock %}