{% extends 'base.html.twig' %}

{% block title %}Paiement réussi - Marché du web{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/panier/paiement_reussi.style.css') }}">
{% endblock %}

{% block body %}
    {% set user = facture.getUser() %}
    {% set adresse_livraison = facture.getAdresseLivraison() %}

    <div class="container" id="container-principal">
        <h1>Commande reçue</h1><hr>
        <p>Merci, votre commande a été reçue.</p>

        <div class="row" id="rang-commande">
            <div class="col-lg-3 col-12 bordure-droite-lg">
                <div class="row">
                    <div class="col-lg-12 col-6 case-p-8">NUMERO DE COMMANDE :</div>
                    <div class="col-lg-12 col-6 case-p-8 gras">{{ facture.id }}</div>
                </div>
            </div>

            <div class="col-lg-3 col-12 bordure-droite-lg">
                <div class="row">
                    <div class="col-lg-12 col-6 case-p-8">DATE :</div>
                    <div class="col-lg-12 col-6 case-p-8 gras">{{ facture.dateCreation|date('d/m/Y') }}</div>
                </div>
            </div>

            <div class="col-lg-3 col-12 bordure-droite-lg">
                <div class="row">
                    <div class="col-lg-12 col-6 case-p-8">EMAIL :</div>
                    <div class="col-lg-12 col-6 case-p-8 gras">{{ user.email }}</div>
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="row">
                    <div class="col-lg-12 col-6 case-p-8">TOTAL :</div>
                    <div class="col-lg-12 col-6 case-p-8 gras">&euro;{{ (facture.montantTotal/100)|number_format(2, ',', ' ') }}</div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-lg-12 col-6 case-p-8">MOYEN DE PAIEMENT :</div>
                    <div class="col-lg-12 col-6 case-p-8 gras">Carte de paiement (Stripe)</div>
                </div>
            </div>       
        </div>

        <h2>Détails de la commande</h2>
        <table id="table-commande">
            <tr>
                <th class="en-tete-tableau-commande">Produit</th>
                <th class="en-tete-tableau-commande">Total</th>
            </tr>

            {% for produit in facture.getProduit() %}
                {% set produit = produit_lie.getProduitsId() %}
                <tr>
                    <td>
                        <a href="{{ path('vue_produit', {'nom_produit': produit.nom()}) }}" class="lien-article">
                        {{ produit.nom }}</a> x {{ produit_lie.quantite }}
                    </td>

                    <td>
                        {% set tarifs = produit.getTarifEffectif(facture.getDateCreation()) %}
                        &euro;{{ (tarifs['ttc']/100 * produit_lie.quantite)|number_format(2, ',', ' ') }}
                    </td>
                </tr>   
            {% endfor %}

            <tr>
                <td>Sous-total HT :</td>
                <td>&euro;{{ (facture.getMontantHt()/100)|number_format(2, ',', ' ') }}</td>
            </tr>

            <tr>
                <td>Expédition :</td>
                <td>Livraison gratuite</td>
            </tr>

            <tr>
                <td>TVA :</td>
                <td>&euro;{{ (facture.getMontantTtc()/100 - facture.getMontantHt()/100)|number_format(2, ',', ' ') }}</td>
            </tr>

            {% if(facture.getCodePromo is not same as(null)) %}
                {% set code_promo = facture.getCodePromo %}
                <tr>
                    <td>Code promo : {{ code_promo.code }}</td>
                    <td>&euro;{{ (facture.getMontantTtc()/100 - facture.getMontantTotal()/100)|number_format(2, ',', ' ') }}</td>
                </tr>
            {% endif %}

            <tr>
                <td>Moyen de paiement :</td>
                <td>Carte de paiement (Stripe)</td>
            </tr>

            <tr>
                <td>Total :</td>
                <td>&euro;{{ (facture.montantTotal/100)|number_format(2, ',', ' ') }}</td>
            </tr>    
        </table>

        <div class="row">
            <div class="col-md-6 col-12">
                <h2 class="titre-syncro">Adresse de facturation</h2>
                <div class="bloc-adresse">
                    <div>{{ user.prenom }} {{ user.nom }}</div>
                    <div>{{ user.adresse }}</div>
                    <div>{{ user.codePostal}} {{ user.ville }}</div>
                    <div><i class="fas fa-phone"></i>&nbsp;{{ user.telephone }}</div>
                    <div><i class="far fa-envelope"></i>&nbsp;{{ user.email }}</div>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <h2 class="titre-syncro">Adresse de livraison</h2>
                <div class="bloc-adresse">
                    {% if (adresse_livraison is not same as(null)) %}
                        <div>{{ adresse_livraison.getPrenom }} {{ adresse_livraison.getNom }}</div>
                        <div>{{ adresse_livraison.getAdresse }}</div>
                        <div>{{ adresse_livraison.getCodePostal }} {{ adresse_livraison.getVille }}</div>
                    {% else %}
                        <div>{{ user.prenom }} {{ user.nom }}</div>
                        <div>{{ user.adresse }}</div>
                        <div>{{ user.codePostal}} {{ user.ville }}</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="div-bouton-accueil">
            <a class="btn" id="bouton-accueil" href="{{ path('accueil') }}">Retour vers l'accueil</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

