{% extends 'base.html.twig' %}

{% block title %}Changement mot de passe - Marché du Web{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/reset_password/request.style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Changement de mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary" id="bouton_envoi">Valider</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
