{% extends 'email/template.html.twig' %}

{% block title %}Marché du web - confirmation de votre commande{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/email/confirmation_achat.style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div id="msg-confirmation">
            Bonjour {{ facture.getUser().getPrenom() }},<br>
            Votre commande reférence <span id="reference">{{ facture.getId() }}</span> a bien été enregistrée.
        </div>

        <hr><h5>Détails de la commande</h5><hr>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for facture_produit in facture.getProduit() %}
                    {% set produit = facture_produit.getProduit() %}
                    {% set quantite = facture_produit.getQuantite() %}
                    {% set tarifs = produit.getTarifEffectif(facture.getDateCreation()) %}
                    
                    {% if tarifs['en_promo'] %}
                        {% set promo = ' (tarif promotionnel)' %}
                    {% else %}
                        {% set promo = '' %}
                    {% endif %}

                    <tr>
                        <td>{{ produit.getNom() }} x {{ quantite }}</td>
                        <td>&euro;{{ ((tarifs['ttc']|round)/100 * quantite)|number_format(2, ',', ' ')}} {{ promo }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td>Sous-total HT</td>
                    <td>&euro;{{ ((facture.getMontantHt()|round)/100)|number_format(2, ',', ' ') }}</td>
                </tr>

                <tr>
                    <td>Expédition</td>
                    <td>Livraison gratuite</td>
                </tr>

                <tr>
                    <td>TVA</td>
                    {% set tva = facture.getMontantTtc - facture.getMontantHt %}
                    <td>&euro;{{ ((tva|round)/100)|number_format(2, ',', ' ')  }}</td>
                </tr>

                {% if facture.getCodePromo is not same as null %}
                <tr>
                    <td>Code promo : {{ facture.getCodePromo.getCode() }}</td>
                    <td>&euro;-{{ ((facture.getCodePromo.getValeur()|round)/100)|number_format(2, ',', ' ')  }}</td>
                </tr>
                {% endif %}

                <tr>
                    <td>Moyen de paiement</td>
                    <td>Carte de paiement (Stripe)</td>
                </tr>

                <tr>
                    <td>Total</td>
                    <td>{{ ((facture.getMontantTotal()|round)/100)|number_format(2, ',', ' ')  }}</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-6"><h5>Adresse de Facturation</h5></div>
            <div class="col-6"><h5>Adresse de Livraison</h5></div>
        </div>

        <div class="row" id="row-adresses">
            <div class="col-6 col-adresses">
                {{ facture.getUser().getNom() }} {{ facture.getUser().getPrenom() }}<br>
                {{ facture.getUser().getAdresse() }}<br>
                {{ facture.getUser().getCodePostal }} {{ facture.getUser().getVille() }}
            </div>

            <div class="col-6 col-adresses">
                {% if facture.getAdresseLivraison() is same as null %}
                    {{ facture.getUser().getNom() }} {{ facture.getUser().getPrenom() }}<br>
                    {{ facture.getUser().getAdresse() }}<br>
                    {{ facture.getUser().getCodePostal }} {{ facture.getUser().getVille() }}
                {% else %}
                    {{ facture.getAdresseLivraison().getNom() }} {{ facture.getAdresseLivraison().getPrenom() }}<br>
                    {{ facture.getAdresseLivraison().getAdresse() }}<br>
                    {{ facture.getAdresseLivraison().getCodePostal }} {{ facture.getAdresseLivraison().getVille() }}
                {% endif %}
            </div>
        </div>

        {% if facture.getMessage() is not same as null %}
            <div class="row" id="row-message">
                <div class="col-12"><h5>Message pour la livraison</h5></div>
                <div class="col-12" id="col-message">
                    {{ facture.getMessage() }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}